@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  background-color: #121213;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.App {
  height: 100%;
}

.App .Editors {
  display: flex;
}

.App button {
  font-family: "JetBrains Mono", monospace;
  color: white;
  margin-right: 1%;
  border: none;
}

.App button:hover {
  text-decoration: underline;
}

.App .cfileinput::-webkit-file-upload-button {
  visibility: hidden;
}

.App input {
  color: #121213;
}

.App .cfileinput::before {
  content: "Load";
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.App .cfileinput:hover {
  text-decoration: underline;
}

.App .texta {
  width: calc(40% - 1px);
  max-width: 50%;
  padding: 20px;
  resize: none;
  color: white;
  border: none;
  border-right: 1px solid white;
  outline: none;
  font-family: "JetBrains Mono", monospace;
}

.mdown {
  max-width: 60%;
  width: 60%;
  height: 100vh;
  padding: 8px;
  outline: none;
  color: white;
}

.mdown .edit {
  max-width: 60%;
  width: 0%;
}

.mdown .preview {
  max-width: 100%;
  width: 100%;
}
